body {
    background: linear-gradient(-45deg, #d6d6d6, #838383, #3a3a3a, #000000);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.logo {
    display: flex;
    font-family: "Playwrite VN";
    font-size: 80px;
    justify-content: center;
    color: white;
    margin: 0;
    text-shadow: 10px 10px black;
}

.container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 10px;
}

.nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav ul li a {
    color: rgb(148, 178, 203);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: white;
}
.nav:hover {
    background-color: rgba(255, 255, 255, 0.336);
    transition: background-color 0.3s ease;
}

.hero-text {
    max-width: 800px;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}


.article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.article:hover {
        background-color: rgba(255, 255, 255, 0.262);
        transition: background-color 0.3s ease;
}

.project-section {
    display: flex;
    max-width: 900px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 50%;
    border-radius: 15px 0 0 15px;
}

.project-content {
    padding: 20px;
    width: 50%;
}

.project-content h2 {
    color: lightgreen;
}

.project-content p {
    font-size: 1rem;
    line-height: 1.6;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent (no color change) */
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  @media screen  and (min-width: 680px) {


    
  }