/* selector: property nad value */
.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    color: #5b4141;
    font-size: 80px;
    margin: 30px;
    padding: 10px;
    border: solid #3b3b55;
    border-radius: 5px;
    box-shadow: #212c2c 20px 20px;
    font-family: "Jersey 15", serif;
}
h2 {
    color: #3b3b55;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    border: solid #3b3b55;
    border-radius: 5px;
    font-family: "Jersey 15", serif;
}
h3 {
    color: #3b3b55;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border: solid #3b3b55;
    border-radius: 5px;
    font-family: "Jersey 15", serif;
}
p {
    color: #212c2c;
    font-size: 18px;
    margin: 20px;
    padding: 10px;
    border: double #3b3b55;
    border-radius: 5px;
    font-family: "Jersey 15", serif;
    
}
body {
    background-color: #ffdd00;
    width: 80%;
    font-family: sans-serif;
}
div {
    background-color: #ffae00;
    padding: 10px;
    margin: 10px;
}
form {
    background-color: #ff5e00;
    padding: 10px;
    margin: 10px;
    font-style: italic;
}

button {
    background-color: #3b3b55;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}
li {
    color: #212c2c;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border: dotted #3b3b55;
    border-radius: 5px;
}
ul {
    color: #212c2c;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border: dotted #3b3b55;
    border-radius: 5px;
}

.introParagraph {
    color: #212c2c;
    font-size: 16px;
    font-style: italic;
    font-family: "Jersey 15", serif;
}

.badpeople {
    color: #330f0f;
    font-size: 16px;
    font-style: bold underline; 
}

.goodpeople {
    color: #0f330f;
    font-size: 16px;
    font-style: italic ; 
}
::backdrop {
    background-color: #fff200;
    width: 80%;
    font-family: sans-serif;
}
a:link{
    color: #0f330f;

}

a:visited{
    color: #330f0f;

}

a:hover {
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: "Jersey 15", serif;

}